.storyContainer{
    width: 95%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 6px 0px 22px -9px rgba(0,0,0,0.78);
-webkit-box-shadow: 6px 0px 22px -9px rgba(0,0,0,0.78);
-moz-box-shadow: 6px 0px 22px -9px rgba(0,0,0,0.78);
margin: 25px 0 0 20px ;
}
.storyWrapper{
    padding: 10px;
}
.top-story{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-story{
    display: flex;
    align-items: center;
    justify-content: center ;
}
.storyImg{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.storyUser{
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    
}
.storyDate{
    font-size: 14px;
    padding-left: 20px;
}
.storypost{
   width: 100%;
   height: 100%;
   padding: 10px;
   object-fit: contain;
}

.right-story{
    display: flex;
    align-items: center;
    justify-content: center;
}
.story-icon{
    font-size: 19px;
    background-color: #E9E9E9 ;
    border-radius: 20px;
    padding: 4px;
    margin-left: 7px;
}
.story-icon-flag{
    font-size: 19px;
    background-color: #E9E9E9 ;
    border-radius: 20px;
    color: red;
    padding: 4px;
    margin-left: 7px;
}
.story-icon-check{
    font-size: 19px;
    background-color: #E9E9E9 ;
    border-radius: 20px;
    color: green;
    padding: 4px;
}
.bottomstory{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.hearticon{
    color: #E62E51;
    margin-left: 20px;
    font-size: 28px;
    cursor: pointer;
}
.likeicon{
    color: #54A6F3;
    font-size: 22px;
    cursor: pointer;
}
.likeicon,.icon1::after{
    color:#54A6F3 ;
}
.comicon{
    margin-left: auto;
    font-size: 16px;
}
.icons{
    font-size :18px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #DFDFDF;
    border-bottom: 2px solid #DFDFDF;
}
.icon1 .icon2 .icon3{
    padding: 10px;
    
}
.bottom_icon{
    cursor: pointer;
}
.commentsection{
padding: 15px 10px 10px 10px;
width: 100%;
display: flex;
align-items: center;
}
.profileimg{
    width: 30px;
    height:30px;
    border-radius: 50%;
    object-fit: cover;
}
.input-text{
    border: none;
    width:95%;
    height: 40px;
    padding-left: 10px;
    background-color: #F0F2F5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.commentsection .comment-button{
    width: 10%;
    height: 40px;
    background-color: #202020;
    color: #E9E9E9;
    /* width: 100%; */
    border: none;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}
.comment-button button{
    background-color: #00f0;
    color: #E9E9E9;
    width: 100%;
    border-radius: 20%;
  
    
}
.input-text-comment{
    border: none;
    width:100%;
    height: 40px;
    padding-left: 20px;
    background-color: #F0F2F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
}