/* .right-side-info{
    width: 100%;
} */
.rightbarContainer{
    width: 20%;
    padding: 5px;
}
.rightWrapper{
    padding: 20px ;
    width: 100%;
}
.rightContact ,.rightSuggestion {
    padding: 5px;
    background-color: white;
    overflow-y: scroll;
}
.ContactHead ,  .SuggestionHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchicon{
    font-size: 20px;
    background-color: #F2F2F2;
    border-radius: 50%;
}
.rightProfileContainer{
    position: relative;
}
.rightProfileimg{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
}
.rightOnline{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: limegreen;
    border: 2px solid white;
    position: absolute;
    top: 20px;
    right: 0;
}
.addfriend{
    cursor: pointer;
    color:#84B6F8;
    padding-left: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightContactList ,.rightSuggestionList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rightContactListItems , .rightSuggestionListItems{
    display: flex;
    align-items: center;
    margin-bottom:15px ;
    cursor:pointer;
}
.suggestionContainer{
    background-color: white;
    margin-top:10px;
}