
.navigation-bar {
    width: 100%;
    height: 60px;
    flex: 2;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top:0;
    z-index: 100;
}
.header_logo{
    margin: 28px 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.user-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile-pic{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-picImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin: 10px;
}
.nav-icon {
  color: rgb(124, 124, 124);
  margin-left: 10px;
  background-color: #E7E7E7;
  border-radius: 15px;
  font-size: 22px;
  padding: 5px;
  position: relative;
  cursor: pointer;
}
.nav-icon-dot{
  background-color:#E7E7E7 ;
  font-size: 22px;
}
.nav-iconbadge{
    width: 17px;
    height: 17px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown {
    display: inline-block;
    position: relative;
    background-color: white;
  }
  .dropdown-content {
    display: none;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    top:30px;
    left: -70px;
    width: 150px;
    height: 100px;
    background-color: white;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }