.sidebarContainer{
    flex:2;
    background-color: white;
    margin: 12px 0px 0 20px;
    border-radius: 10px;
}
.sideWrapper{
    padding: 10px;
    background-color: #FFFFFF;
    font-size: 14px;
    border-bottom: 2px solid #E2E2E2;
}
.sideprofile{
    width:100%;
    height: 270px;
    border-bottom:15px solid #F0F2F5 ;
}
.profileCard{
    padding: 2px;
}
.profileCardCover{
    position: relative;
}
.profileCardCoverImg{
    width: 100%;
    /* height: 50%; */
    object-fit: cover;
    border-radius: 5px;
}
.profileCardUserImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 105px;
    top:70px;
    border: 3px solid white;
}
.profileCardInfo , .Updation-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.profileCardInfoName{
    font-size: 24px;
    font-weight: 800;
    padding: 20px 0 0px 0px;
}
.profileCardInfoDesc{
    font-weight: 300;
    /* padding: 0px 0 10px 35px; */
}
.profileCardInfoDesc2{
    font-weight: 100;
    padding: 0px 0 0 35px;
}
.sidebarbottomList{
    border-bottom: 2px solid lightgrey;
}
.sideList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sideListItem{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.sideIcon{
    width: 20px;
    margin-left:20px;
}
.sideListItemText{
    padding-left: 20px;
}