body {

  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  /* background-color: #F0F2F5; */
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;;
}