.navigation-bar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
}
.header_logo{
    margin: 28px 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-pic{
    padding: 5px;
}
.profile-pic img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.nav-icon {
  color: rgb(124, 124, 124);
  margin-left: 10px;
  background-color: #E7E7E7;
  border-radius: 15px;
  font-size: 22px;
  padding: 5px;
    
}