.profileContainer ,.profileUpdationContainer{
    display: flex;
    background-color: #F0F2F5;
}
.profileCenter, .profileUpdateForm{
    width: 70%; 
    margin: 20px 0 50px 100px;
    background-color: white;
    border-radius: 15px;
}
.profileCover{
    height: 320px;
    position: relative;
}
.profileCoverImg{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
}
.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
    position: absolute;
    left: 30px;
    top:150px;
    border: 2px solid white;
}
.profileInfo , .Updation-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
}
.profileInfoName{
    font-size: 24px;
    font-weight: 800;
    padding: 0px 0 0px 35px;
}
.profileInfoDesc{
    font-weight: 300;
    padding: 0px 0 10px 35px;
}
.profileInfoDesc2{
    font-weight: 100;
    padding: 0px 0 0 35px;
}
.profilebutton{
    margin-left: 35px;
    padding-top: 20px;
    display: flex;
    margin-bottom: 20px;
}
.addbutton , .savebutton{
    background-color: #407FD3;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 9px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.visitbutton ,.resetbutton{
    background-color: white;
    padding: 8px;
    color: #407FD3;
    margin-left: 10px;
    border:2px solid #dfeaf3;
    border-radius: 9px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.profileIcon ,.profileVisitIcon{
    font-size: 20px;
    margin-right: 5px;
}
.profileRight{
   width: 25%;
}

.webcamIcon{
    font-size: 22px;
    border-radius: 50%;
    border: 2px solid #B5D3FB;
    position:absolute ;
    left: 160px;
    top: 260px;
    padding: 8px;
    cursor: pointer;
    color: black;
}
.webcamContainer{
  width: 100%;
  height: 500px;
}
.updateForm{
    display: flex; 
    width: 85%; 
    margin: 10px 0 0 35px;   
}
.form_group{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 25px;
  }
  .form_group label {
    margin: 10px 10px 5px 5px;
    flex-direction: column;
  } 
  .form_group input {
    vertical-align: middle;
    width: 280px;
    height: 55px;
    /* margin: 5px 10px 5px 10px; */
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
  }
  .form_group select {
    vertical-align: middle;
    margin: 5px;
    padding: 15px;
    width: 280px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
  }
  .radio-btn{
    width:37%;
    border: 1px solid #ddd;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content:center;
  }
  .sqre-radio {
    display:block;
    position: relative;
    padding: 10px 0px 10px 50px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .sqre-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: -20px;
    width: 100px;
    height: 35px;
    /* border-radius: 3px; */
    background-color: #fff;
  }
  .sqre-radio:hover input ~ .checkmark {
    background-color: #A4FBF5;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .sqre-radio input:checked ~ .checkmark:after {
    display: block;
  }
  .sqre-radio .checkmark:after {
       top: 3px; 
      left: auto;
    border-radius: 5px;
  }
  label span:first-of-type {
    position: relative;
    left: -50px;
    top: 0px;
    color: #1FBED6;
    z-index:1;
    color:black;
  }
  
@media (max-width: 800px) {
    .form_group input {
      margin: 10px 0;
    }
    
    .form_group {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .form_group-2 .state_id {
    vertical-align: middle;
    width: 110px;
    height: 50px;
    margin: 5px 10px 5px 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
  }
  .form_group .zip_id {
    vertical-align: middle;
    width: 100px;
    height: 50px;
    /* margin: 5px 0px 5px 0; */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
  }
  
  .photoPopup{
    width: auto;
    background-color: #F0F2F5 ;
    height: 200px;
    padding: 20px 70px 0px 70px;
    position:absolute;
    top: -520px;
    left: 303px;
    display: block;
    border-radius: 5px;
  }
  .captureBtn {
    padding: 15px;
    outline: none;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 10px;
 }
 .uploadBtn{
  padding: 15px;
  outline: none;
  width: 250px;
 }